body{
   
    height: 1000px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7%;
}

header{
    position: fixed;
    width: 100%;
    height: 6% ;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(223, 211, 211);
    z-index: 1000;
    padding: 0%;
    top: 0;
}
.header-left-div{   
    background-color: white;
    float: left;
    width: 3%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;

}

.header-right-div{
    float: right;
    width:16%;
    height: 100%;
    
    align-items: center;
    display: flex;
    display: flex;

}

.b1h{
    width: 24px;
    height: 24px;
    fill: none;
    cursor: pointer;
    

} 

.b2h{
   
    border: 1px solid gray;
    cursor: pointer;
    margin-right: 5%;
    border-radius: 6px;
    width: 12%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.svg2{
    width: 24px;
    height: 24px;
    fill: none;
    cursor: pointer;
}

.b3h{
   background-color: rgb(0, 0, 0);
    cursor: pointer;
    height: 70%;
    font-size: small;
    display: flex;
    width:80%;
    padding: 0%;
    margin: 0%;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    text-decoration: none;
    
}
.svg3{
    width: 24px;
    height: 24px;
    fill: none;
    cursor: pointer;
    margin: 0%;
}

.blue-B{
    background-color: blue;
}

.pic{
    clip-path: inset(0% 25% 0% 25%);

}